doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='theme-color' content='#462E49')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Editar perfil
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  // Latest compiled and minified CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  // Optional theme
  link(href='//fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css')
  link(href='/css/main.css' type='text/css' rel='stylesheet')
header
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.dosis-nav(href='/es/profile/') Diseasemaps
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/es/messages/')
              i.fa.fa-envelope-o
              |  Mensajes
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
              i.fa.fa-flag
              |  Notificaciones  
              span.caret
            ul.dropdown-menu
              li.text-center(style='color: #888;') No hay nuevas notificaciones
              li.divider(role='separator')
              li.text-center
                a(href='/es/notifications/')
                  small Ver todas
          li
            a(href='/es/profile/')
              i.fa.fa-user
              |  #{user.name}
          li
            a(href='/es/account/')
              i.fa.fa-cog
              |  Ajustes
          li
            a(href='/logout')
              i.fa.fa-sign-out
              |  Salir
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a#dropdownMenu5.btn.btn-link.dropdown-toggle.idiomas(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fa.fa-globe
              |  es  
              span.caret
            ul.dropdown-menu(aria-labelledby='dropdownMenu5')
              li
                a(href='/') English
              li
                a(href='/es/') Espa&ntilde;ol
              li
                a(href='/it/') Italiano
              li
                a(href='/pt/') Portugu&ecirc;s
              li
                a(href='/de/') Deutsch
              li
                a(href='/cs/') &Ccaron;e&scaron;tina
              li
                a(href='/pl/') Polski
              li
                a(href='/fr/') Fran&ccedil;ais
              li
                a(href='/ar/') &#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;
              li
                a(href='/zh/') &#x4E2D;&#x6587;
              li
                a(href='/ru/') P&ucy;&scy;&scy;&kcy;&icy;&jcy;
              li
                a(href='/ja/') &#x65E5;&#x672C;&#x8A9E;
              li
                a(href='/ko/') &#xD55C;&#xAD6D;&#xC5B4;
              li
                a(href='/hi/') &#x939;&#x93F;&#x928;&#x94D;&#x926;&#x940;
              li
                a(href='/ms/') Bahasa Melayu
              li
                a(href='/sv/') Svenska
      // /.navbar-collapse
    // /.container-fluid
.container(style='margin-top: 20px; min-height: 500px;')
  .row
    .col-md-3.col-sm-4.col-lg-3.hidden-xs
      .list-group
        li.list-group-item(style='background-color: #f5f5f5;')
          strong
            i.fa.fa-user
            |  Mi cuenta
        a.list-group-item(href='/account')
          i.fa.fa-user
          |  Cuenta
        li.list-group-item.list-group-item-success
          i.fa.fa-edit
          |  Perfil
        a.list-group-item(href='/es/account/privacity/')
          i.fa.fa-shield
          |  Privacidad
        a.list-group-item(href='/es/account/change-password/')
          i.fa.fa-lock
          |  Cambiar contrase&ntilde;a
        a.list-group-item(href='/es/account/delete/')
          i.fa.fa-trash-o
          |  Eliminar cuenta
    .col-xs-12.hidden-lg.hidden-md.hidden-sm(style='margin-bottom: 30px;')
      .row
        .col-xs-3
          a(href='/es/account/')
            i.fa.fa-user
            |  Cuenta
        .col-xs-3
          strong
            i.fa.fa-edit
            |  Perfil
        .col-xs-3
          a(href='/es/account/privacity/')
            i.fa.fa-shield
            |  Privacidad
        .col-xs-1
          a(href='/es/account/change-password/')
            i.fa.fa-lock
        .col-xs-1
          a(href='/es/account/delete/')
            i.fa.fa-trash-o
    .col-md-9.col-sm-8.col-lg-9.col-xs-12
      .panel.panel-default
        .panel-heading
          .row
            .col-lg-10.col-md-10.col-sm-10.col-xs-8
              h3.panel-title.titulo-panel
                i.fa.fa-user
                |  Edita tu perfil
            .col-lg-2.col-md-2.col-sm-2.col-xs-4
              a.btn.btn-xs.btn-link.pull-right(href='/es/profile/')
                i.fa.fa-reply
                |  Atr&aacute;s
        ul.list-group
          li.list-group-item
            form#finda.form-horizontal.form-registro(target='_self' action='' method='post' role='form')
              #nombre.form-group
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  label.required(for='form_name') Nombre
                  input#form_name.form-control(type='text' name='form[name]' required='required' placeholder='nombre' value=`${user.name}`)
              .form-group
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  label.required Fecha de nacimiento  #{user.mes}
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  select#value(name="value" value='#{user.mes}')
                    option(value='') Seleccionar mes
                    option(value='enero') enero
                    option(value='febrero') febrero
                    option(value='marzo') marzo
                    option(value='abril') abril
                    option(value='mayo') mayo
                    option(value='junio') junio
                    option(value='julio') julio
                    option(value='agosto') agosto
                    option(value='septiembre') septiembre
                    option(value='octubre') octubre
                    option(value='noviembre') noviembre
                    option(value='diciembre') diciembre
                  select#form_birth_year.form-control-static(name='form[birth][year]' required='required' select='#')
                    option(value='') Seleccionar a&ntilde;o
                    option(value='2020') 2020
                    option(value='2019') 2019
                    option(value='2018') 2018
                    option(value='2017') 2017
                    option(value='2016') 2016
                    option(value='2015') 2015
                    option(value='2014') 2014
                    option(value='2013') 2013
                    option(value='2012') 2012
                    option(value='2011') 2011
                    option(value='2010') 2010
                    option(value='2009') 2009
                    option(value='2008') 2008
                    option(value='2007') 2007
                    option(value='2006') 2006
                    option(value='2005') 2005
                    option(value='2004') 2004
                    option(value='2003') 2003
                    option(value='2002') 2002
                    option(value='2001') 2001
                    option(value='2000') 2000
                    option(value='1999') 1999
                    option(value='1998') 1998
                    option(value='1997') 1997
                    option(value='1996') 1996
                    option(value='1995') 1995
                    option(value='1994') 1994
                    option(value='1993') 1993
                    option(value='1992') 1992
                    option(value='1991') 1991
                    option(value='1990') 1990
                    option(value='1989') 1989
                    option(value='1988') 1988
                    option(value='1987') 1987
                    option(value='1986') 1986
                    option(value='1985') 1985
                    option(value='1984') 1984
                    option(value='1983') 1983
                    option(value='1982') 1982
                    option(value='1981') 1981
                    option(value='1980') 1980
                    option(value='1979') 1979
                    option(value='1978') 1978
                    option(value='1977') 1977
                    option(value='1976') 1976
                    option(value='1975') 1975
                    option(value='1974') 1974
                    option(value='1973') 1973
                    option(value='1972') 1972
                    option(value='1971') 1971
                    option(value='1970') 1970
                    option(value='1969') 1969
                    option(value='1968') 1968
                    option(value='1967') 1967
                    option(value='1966') 1966
                    option(value='1965') 1965
                    option(value='1964') 1964
                    option(value='1963') 1963
                    option(value='1962') 1962
                    option(value='1961') 1961
                    option(value='1960') 1960
                    option(value='1959') 1959
                    option(value='1958') 1958
                    option(value='1957') 1957
                    option(value='1956') 1956
                    option(value='1955') 1955
                    option(value='1954') 1954
                    option(value='1953') 1953
                    option(value='1952') 1952
                    option(value='1951') 1951
                    option(value='1950') 1950
                    option(value='1949') 1949
                    option(value='1948') 1948
                    option(value='1947') 1947
                    option(value='1946') 1946
                    option(value='1945') 1945
                    option(value='1944') 1944
                    option(value='1943') 1943
                    option(value='1942') 1942
                    option(value='1941') 1941
                    option(value='1940') 1940
                    option(value='1939') 1939
                    option(value='1938') 1938
                    option(value='1937') 1937
                    option(value='1936') 1936
                    option(value='1935') 1935
                    option(value='1934') 1934
                    option(value='1933') 1933
                    option(value='1932') 1932
                    option(value='1931') 1931
                    option(value='1930') 1930
                    option(value='1929') 1929
                    option(value='1928') 1928
                    option(value='1927') 1927
                    option(value='1926') 1926
                    option(value='1925') 1925
                    option(value='1924') 1924
                    option(value='1923') 1923
                    option(value='1922') 1922
                    option(value='1921') 1921
                    option(value='1920') 1920
                  select#form_birth_day(name='form[birth][day]' style='display:none')
                    option(value='1' selected='selected') 01
              .form-group
                .col-lg-12.col-md-12.col-sm-12.col-xs-12.checkbox-inline
                  input#form_gender_0(type='radio' name='form[gender]' required='required' value='1')
                  label.required(for='form_gender_0') Mujer
                  span(style='margin-left: 30px')
                    input#form_gender_1(type='radio' name='form[gender]' required='required' value='2' checked='checked')
                    label.required(for='form_gender_1') Hombre
              .form-group
                .col-sm-12.col-md-12.col-lg-12.col-xs-12
                  input.btn.btn-success.btn-block(type='submit' value='Editar perfil')
              input#form__token(type='hidden' name='form[_token]' value='PKph7GtczkTd_yyitLpMJ8bVnmEcxN4N8D3sbGnlGGo')
