title JUNKIES

h1 CHAT
    li
        b   DE
        a.btn.btn-success.btn-block(href=`/perfil/${user.username}`) #{user.username}
        br
    li
        b   PARA
        a.btn.btn-success.btn-block(href=`/perfil/usuario/${username}`) #{username}

div#message-container


//-form#send-container
input#message-input(type='text')
button#send-button(type='submit') Send
button#send-button2(type='submit') add friend


div#message-contain
h1 de  #{user.username}
h2 para #{username}


each msg in msgs
    if (msg.sender === receiver || msg.sender===sender) && (msg.receiver===sender || msg.receiver ==receiver)
        li de------ #{msg.sender}
        li para-------- #{msg.receiver}
        li mensaje ----#{msg.message}
    

h2 de #{sender}
h2 para #{receiver}
h2 room #{roomName}

script(src="/socket.io/socket.io.js")
script.
    const socket = io.connect('http://localhost:3000')
    const messageContainer = document.getElementById('message-container')
    const messageContainer2 = document.getElementById('message-contain')
    const roomContainer = document.getElementById('room-container')
    const messageForm = document.getElementById('send-container')
    const messageInput = document.getElementById('message-input')


    socket.emit('subscribe', `#{roomName}`);
    socket.on('conversation private post', function(data) {
        appendMessage(`${data.username} `)
        appendMessage(`${data.message}`)
        appendMessage(`${data.receiver}`)

    });
        socket.on('newFriendRequest', function(data) {
        apppendButton(a.btn.btn-success.btn-block(href=`/perfil/usuario/${username}`))

    });


    /*if (messageForm != null) {
        const name = prompt('What is your name?')
        appendMessage('You joined')
        socket.emit('new-user', roomName, name)
        messageForm.addEventListener('submit', e => {
            e.preventDefault()
            const message = messageInput.value
            appendMessage(`You: ${message}`)
            socket.emit('send-chat-message', roomName, message)
            messageInput.value = ''
        })
    }*/

    /*socket.on('room-created', room => {
        const roomElement = document.createElement('div')
        roomElement.innerText = room
        const roomLink = document.createElement('a')
        roomLink.href = `/${room}`
        roomLink.innerText = 'join'
        roomContainer.append(roomElement)
        roomContainer.append(roomLink)
    })*/

    /*socket.on('chat-message', data => {
        console.log('recibiendo....');
        appendMessage(`${data.name}: ${data.message}`)
    })*/

    /*socket.on('user-connected', name => {
        appendMessage(`${name} connected`)
    })

    socket.on('new-user', name => {
        appendMessage(`new user ${name} connected`)
    })

    socket.on('user-disconnected', name => {
        appendMessage(`${name} disconnected`)
    })*/

    function appendMessage(message) {
        const messageElement = document.createElement('div')
        messageElement.innerText = message
        messageContainer.append(messageElement)
    }
        function apppendButton(message) {
        const messageElement = document.createElement('div')
        messageElement.innerText = message
        messageContainer2.append(messageElement)
    }
    let btnemit = document.getElementById('send-button');

    btnemit.addEventListener('click',(event)=>{

        event.preventDefault();
        socket.emit('send message', {
            room: `#{roomName}`,
            username: `#{user.username}`,
            receiver: `#{username}`,
            message: messageInput.value
        });


        //- var req = new XMLHttpRequest();
        //- req.open('POST', `/chat/emit/#{username}`, true);
        //- req.send({msg: messageInput.value});
        //- req.onreadystatechange = function (aEvt) {
        //-     if (req.readyState == 4) {
        //-         if(req.status == 200) {
        //-             //appendMessage(`You: ${req.responseText}`)
        //-             messageInput.value = ''
        //-             console.log(`Response : ${req.responseText}`)
        //-         }
        //-         else {
        //-             console.log("Error loading page\n");
        //-         }
        //-     }
        //- };
    });

    function appendMessage(message) {
        const messageElement = document.createElement('div')
        messageElement.innerText = message
        messageContainer.append(messageElement)
    }

    let btnemit2 = document.getElementById('send-button2');

    btnemit2.addEventListener('click',(event)=>{

        event.preventDefault();


        socket.emit('friendRequest', {
            room: `#{roomName}`,
        

            username: `#{user.username}`,
            message: messageInput.value
        });


        //- var req = new XMLHttpRequest();
        //- req.open('POST', `/chat/emit/#{username}`, true);
        //- req.send({msg: messageInput.value});
        //- req.onreadystatechange = function (aEvt) {
        //-     if (req.readyState == 4) {
        //-         if(req.status == 200) {
        //-             //appendMessage(`You: ${req.responseText}`)
        //-             messageInput.value = ''
        //-             console.log(`Response : ${req.responseText}`)
        //-         }
        //-         else {
        //-             console.log("Error loading page\n");
        //-         }
        //-     }
        //- };
    });
