extends layout

block content  
  doctype html
  html(lang='es')
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='theme-color', content='#462E49')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Panel de usuario
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      // Latest compiled and minified CSS
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      // Optional theme
      link(href='//fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
      link(href='/css/main.css', type='text/css', rel='stylesheet')
    body
      header
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.dosis-nav(href='/perfil') OVERDOSE
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/mensajes')
                    i.fa.fa-envelope-o
                    |  Mensajes
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-flag
                    |  Notificaciones  
                    span.caret
                  ul.dropdown-menu
                    li.text-center(style='color: #888;') No hay nuevas notificaciones
                    li.divider(role='separator')
                    li.text-center
                      a(href='/es/notifications/')
                        small Ver todas
                li
                  a(href='/perfil')
                    i.fa.fa-user
                    |  #{user.name}
                li
                  a(href='/es/account/')
                    i.fa.fa-cog
                    |  Ajustes
                li
                  a(href='/logout')
                    i.fa.fa-sign-out
                    |  Salir
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a#dropdownMenu5.btn.btn-link.dropdown-toggle.idiomas(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-globe
                    |  es  
                    span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu5')
                    li
                      a(href='/') English
                    li
                      a(href='/es/') Español
                    li
                      a(href='/it/') Italiano
                    li
                      a(href='/pt/') Português
                    li
                      a(href='/de/') Deutsch
                    li
                      a(href='/cs/') Čeština
                    li
                      a(href='/pl/') Polski
                    li
                      a(href='/fr/') Français
                    li
                      a(href='/ar/') العربية
                    li
                      a(href='/zh/') 中文
                    li
                      a(href='/ru/') Pусский
                    li
                      a(href='/ja/') 日本語
                    li
                      a(href='/ko/') 한국어
                    li
                      a(href='/hi/') हिन्दी
                    li
                      a(href='/ms/') Bahasa Melayu
            // /.navbar-collapse
          // /.container-fluid
      
      .container(style='margin-top: 20px;')
  
  h1 CHAT
  div(id='output')
    #form-group
      label Message:
      input.form-control(name='message', type='text',id='message')
    br
    input.btn.btn-primary(type='submit',id='btn')
    ul
            li
              b   DE
              |  #{user.username}
            li
              b  PARA
              |  #{session.user.username}
    script(src="/socket.io/socket.io.js")
    script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous')
    script.
      var socket = io('//localhost:3000');
      let btn=document.getElementById('btn');
      //const username=document.getElementById('username');
      //const username=prompt('whats your name')
      let nickname= document.getElementById('nickname');
      let message=document.getElementById('message');
      let output=document.getElementById('output');
      //- socket.emit('new-user',username);
      //- socket.on('user-connected', username => {
      //- console.log(`${username} connected`)
      //- })


      btn.addEventListener('click',()=>{
      socket.emit('message', {
        message:message.value
      });
      });

      socket.on('message',function(data){
        output.innerHTML+=  `<p>
       <strong>${data.username}</strong>: ${data.message}
       </p>`
      })

      //- socket.on('chat:message',function(data){
      //- output.innerHTML+=  `<p>
      //- <strong>${data.username}</strong>: ${data.message}
      //- </p>`
      //- });
      //- socket.on('new:message',function(data){
      //- output.innerHTML+=  `<p>  </strong>:${data.message}
      //-  </p>`
      //- });
