doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
  body
    h2(style='text-align: center;') Select 
    .container(style='margin-top:20px;')
      .row
        .col-md-4  
        .col-md-4
          select#diseases.form-control
        .col-md-4  
      br
      .row
        .col-md-4  
        .col-md-4
          select#ciudad.form-control
        .col-md-4  
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')


script.
  function loadJSON(callback) {

  var xobj = new XMLHttpRequest();
  xobj.overrideMimeType("application/json");
  xobj.open('GET', 'colombia.json', true); // Reemplaza colombia-json.json con el nombre que le hayas puesto
  xobj.onreadystatechange = function () {
  if (xobj.readyState == 4 && xobj.status == "200") {
  callback(xobj.responseText);
  }
  };
  xobj.send(null);  
  }

  function init() {
 loadJSON(function(response) {
  // Parse JSON string into object
    var JSONFinal = JSON.parse(response);
 });
  }