doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Error
block.content
  h1= message
  h2= error.status
  pre #{error.stack}
style.
  .content {
  color: red;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20vh;
  text-align: center;
  }
  .content h1 {
  font-size: 50px;
  margin: 0px;
  animation: alternate;
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  }
  @keyframes pulse {
    0% {transform: scale(1);}
    100% {transform: scale(1.3);}
  }
