
.col-md-3
    .form-group
    form(method='POST', action='/finder')
        label.col-md-12.control-label(for='name') By Name
        .col-md-12
            input#searchName.form-control(type='text' name='nombre' placeholder='Enter Name')
            button.btn.btn-primary(type='submit') Submit

link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
script(src='https://code.jquery.com/jquery-1.12.4.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

script.
    $(function () {
    $('#searchName').autocomplete({
        source: function (req, res) {
            $.ajax({
                url: "autocompletar/",
                dataType: "jsonp",
                type: "GET",
                data: req,
                success: function (data) {
                    res(data)
                   // res.json(result)
                //   console.log(data);
                },
                error: function (err) {
                    console.log('error')
                    console.log(err.status);
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
                if(ui.item){
    $('#searchName').text(ui.item.label);
                }
            

        }
    });
    });