doctype html
style.
  .card-img-top {
  width: 30%;
  overflow: scroll;
  padding: 30px;
  position: relative;
  }
head
    meta(charset='utf-8')
    meta(name="viewport" content="width=dev ice-width, initial-scale=1")
    title JUNKIES
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel="stylesheet" href='/public/stylesheets/style.css')
body(style="display: flex; min-height:100vh; flex-direction: column")
    script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    <a href="/users/registrarse">registrarse</a>
    <a href="/users/ingresar">login</a>
    <a href="/medicamentos">medicamentos</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>

    include navbar.pug
    block hero
    block content
    include footer.pug
