extends layout

block content  
  doctype html
  html(lang='es')
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='theme-color', content='#462E49')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Panel de usuario
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      // Latest compiled and minified CSS
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      // Optional theme
      link(href='//fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
      link(us='/css/main.css', type='text/css', rel='stylesheet')
    body
      header
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.dosis-nav(href='/perfil/'+user.name) OVERDOSE
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/mensajes')
                    i.fa.fa-envelope-o
                    |  Mensajes
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-flag
                    |  Notificaciones  
                    span.caret
                  ul.dropdown-menu
                    li.text-center(style='color: #888;') No hay nuevas notificaciones
                    li.divider(role='separator')
                    li.text-center
                      a(href='/es/notifications/')
                        small Ver todas
                li
                  a(href='/perfil/'+user.name)
                    i.fa.fa-user
                    |  #{user.name}
                li
                  a(href='/account')
                    i.fa.fa-cog
                    |  Ajustes
                li
                  a(href='/logout')
                    i.fa.fa-sign-out
                    |  Salir
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a#dropdownMenu5.btn.btn-link.dropdown-toggle.idiomas(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-globe
                    |  es  
                    span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu5')
                    li
                      a(href='/') English
                    li
                      a(href='/es/') Español
                    li
                      a(href='/it/') Italiano
                    li
                      a(href='/pt/') Português
                    li
                      a(href='/de/') Deutsch
                    li
                      a(href='/cs/') Čeština
                    li
                      a(href='/pl/') Polski
                    li
                      a(href='/fr/') Français
                    li
                      a(href='/ar/') العربية
                    li
                      a(href='/zh/') 中文
                    li
                      a(href='/ru/') Pусский
                    li
                      a(href='/ja/') 日本語
                    li
                      a(href='/ko/') 한국어
                    li
                      a(href='/hi/') हिन्दी
                    li
                      a(href='/ms/') Bahasa Melayu
            // /.navbar-collapse
          // /.container-fluid
      
      .container(style='margin-top: 20px;')
      
        h1.text-center.dosis Hola #{user.username}, este es tu perfil...
      
        .row(style='margin-top: 30px;')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .panel.panel-default
              .panel-heading
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    h3.panel-title.titulo-panel
                      i.fa.fa-connectdevelop
                      |  DONAR
              .panel-body
                h4.text-center.dosis-profile
                  | Si tienes medicamentos que ya no usas y quieres ayudar a otros hazte donador
                .text-center
                  a.btn.btn-success(href='/medicamentos')
                    i.fa.fa-trophy
                    |  DONAR
                .text-center.margin-top-20
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .panel.panel-default
              .panel-heading
                h3.panel-title.titulo-panel
                  i.fa.fa-hand-rock-o
                  |  RECIBIR
              .panel-body
                h4.text-center.dosis-profile si necesitas medicamentos, busca los que estan vigentes 
                .text-center.margin-top-20
                  a.btn.btn-success(href='/medicamentos/search')
                    i.fa.fa-plus
                    |  RECIBIR
          .col-lg-4.col-md-4.col-sm-6.col-xs-12 
           .panel.panel-default
            .panel-heading
              h3.panel-title.titulo-panel
                i.fa.fa-hand-rock-o
                |  IMAGENES     
            .panel-body
              h4.text-center.dosis-profile si necesitas medicamentos, busca los que estan vigentes 
              .text-center.margin-top-20
                a.btn.btn-success(href='/medicamentos')
                  i.fa.fa-plus
                  |  MIS IMAGENES      
                    
                    



        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .panel.panel-default
              .panel-heading
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    h3.panel-title.titulo-panel
                      i.fa.fa-usuarios
                      |  tu ubicación
              .panel-body
              h4.text-center.dosis-profile si necesitas medicamentos, busca los que estan vigentes 
              .text-center.margin-top-20
                a.btn.btn-success(href='/search')
                  i.fa.fa-plus
                  |  SEARCH FRIENDS      
