extends layout
block content
    a.btn.btn-success.btn-block(href='/medicamentos/add')  Add friend!
    p(clsss='lead')
    p1 #{user.name}
    p1 debe salir
    h1 #{user.username}
    p2 #{user.password}
    p3 #{user.email}
    p4 #{user._id}
    p4 #{user.date}
    h1 CHAT
    div(id='output')
    div(id='actions')
    a.btn.btn-success.btn-block(href='/chat/'+user.username) ENVIALE UN MENSAJE
    each medicamento in medicamentos
        a(href="/medicamentos/view/"+medicamento._id)
            img.card-img-top(src=medicamento.imageURL, alt='#{medicamento.filename}')


    .script

    <script type=”text/javascript” src=”/socket.io/socket.io.js”></script>
    <script type=”text/javascript” src=”/js/sendrequest.js”></script>