body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bbbbbb;
}

a {
  color: blue;
}
/*! Bassplate | MIT License | http://github.com/basscss/bassplate */


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,aside,footer,header,nav,section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

figcaption,figure,main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace,monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active,a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,strong {
  font-weight: inherit;
  font-weight: bolder
}

code,kbd,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,input,optgroup,select,textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

[hidden],template {
  display: none
}

.h00 {
  font-size: 3.75rem
}

.h0 {
  font-size: 3.5rem
}

.h1 {
  font-size: 2rem
}

.h2 {
  font-size: 1.5rem
}

.h3 {
  font-size: 1.25rem
}

.h4 {
  font-size: 1rem
}

.h5 {
  font-size: .875rem
}

.h6 {
  font-size: .75rem
}

.font-family-inherit {
  font-family: inherit
}

.font-size-inherit {
  font-size: inherit
}

.text-decoration-none {
  text-decoration: none
}

.bold {
  font-weight: 700;
  font-weight: 600
}

.regular {
  font-weight: 400
}

.italic {
  font-style: italic
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0
}

.left-align {
  text-align: left
}

.center {
  text-align: center
}

.right-align {
  text-align: right
}

.justify {
  text-align: justify
}

.nowrap {
  white-space: nowrap
}

.break-word {
  word-wrap: break-word
}

.line-height-1 {
  line-height: 1
}

.line-height-2 {
  line-height: 1.4
}

.line-height-3 {
  line-height: 1.6
}

.line-height-4 {
  line-height: 2
}

.list-style-none {
  list-style: none
}

.underline {
  text-decoration: underline
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.list-reset {
  list-style: none;
  padding-left: 0
}

.inline {
  display: inline
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.table {
  display: table
}

.table-cell {
  display: table-cell
}

.overflow-hidden {
  overflow: hidden
}

.overflow-scroll {
  overflow: scroll
}

.overflow-auto {
  overflow: auto
}

.clearfix:after,.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.left {
  float: left
}

.right {
  float: right
}

.fit {
  max-width: 100%
}

.max-width-1 {
  max-width: 40rem
}

.max-width-2 {
  max-width: 52rem
}

.max-width-3 {
  max-width: 72rem
}

.max-width-4 {
  max-width: 88rem
}

.border-box {
  box-sizing: border-box
}

.align-baseline {
  vertical-align: baseline
}

.align-top {
  vertical-align: top
}

.align-middle {
  vertical-align: middle
}

.align-bottom {
  vertical-align: bottom
}

.m0 {
  margin: 0
}

.mt0 {
  margin-top: 0
}

.mr0 {
  margin-right: 0
}

.mb0 {
  margin-bottom: 0
}

.ml0,.mx0 {
  margin-left: 0
}

.mx0 {
  margin-right: 0
}

.my0 {
  margin-top: 0;
  margin-bottom: 0
}

.m1 {
  margin: 1rem
}

.mt1 {
  margin-top: 1rem
}

.mr1 {
  margin-right: 1rem
}

.mb1 {
  margin-bottom: 1rem
}

.ml1,.mx1 {
  margin-left: 1rem
}

.mx1 {
  margin-right: 1rem
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.m2 {
  margin: 1.5rem
}

.mt2 {
  margin-top: 1.5rem
}

.mr2 {
  margin-right: 1.5rem
}

.mb2 {
  margin-bottom: 1.5rem
}

.ml2,.mx2 {
  margin-left: 1.5rem
}

.mx2 {
  margin-right: 1.5rem
}

.my2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.m3 {
  margin: 3rem
}

.mt3 {
  margin-top: 3rem
}

.mr3 {
  margin-right: 3rem
}

.mb3 {
  margin-bottom: 3rem
}

.ml3,.mx3 {
  margin-left: 3rem
}

.mx3 {
  margin-right: 3rem
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem
}

.m4 {
  margin: 4rem
}

.mt4 {
  margin-top: 4rem
}

.mr4 {
  margin-right: 4rem
}

.mb4 {
  margin-bottom: 4rem
}

.ml4,.mx4 {
  margin-left: 4rem
}

.mx4 {
  margin-right: 4rem
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem
}

.mxn1 {
  margin-left: calc(1rem * -1);
  margin-right: calc(1rem * -1)
}

.mxn2 {
  margin-left: calc(1.5rem * -1);
  margin-right: calc(1.5rem * -1)
}

.mxn3 {
  margin-left: calc(3rem * -1);
  margin-right: calc(3rem * -1)
}

.mxn4 {
  margin-left: calc(4rem * -1);
  margin-right: calc(4rem * -1)
}

.m-auto {
  margin: auto
}

.mt-auto {
  margin-top: auto
}

.mr-auto {
  margin-right: auto
}

.mb-auto {
  margin-bottom: auto
}

.ml-auto,.mx-auto {
  margin-left: auto
}

.mx-auto {
  margin-right: auto
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.p0 {
  padding: 0
}

.pt0 {
  padding-top: 0
}

.pr0 {
  padding-right: 0
}

.pb0 {
  padding-bottom: 0
}

.pl0,.px0 {
  padding-left: 0
}

.px0 {
  padding-right: 0
}

.py0 {
  padding-top: 0;
  padding-bottom: 0
}

.p1 {
  padding: 1rem
}

.pt1 {
  padding-top: 1rem
}

.pr1 {
  padding-right: 1rem
}

.pb1 {
  padding-bottom: 1rem
}

.pl1 {
  padding-left: 1rem
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem
}

.p2 {
  padding: 1.5rem
}

.pt2 {
  padding-top: 1.5rem
}

.pr2 {
  padding-right: 1.5rem
}

.pb2 {
  padding-bottom: 1.5rem
}

.pl2 {
  padding-left: 1.5rem
}

.py2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.px2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.p3 {
  padding: 3rem
}

.pt3 {
  padding-top: 3rem
}

.pr3 {
  padding-right: 3rem
}

.pb3 {
  padding-bottom: 3rem
}

.pl3 {
  padding-left: 3rem
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem
}

.p4 {
  padding: 4rem
}

.pt4 {
  padding-top: 4rem
}

.pr4 {
  padding-right: 4rem
}

.pb4 {
  padding-bottom: 4rem
}

.pl4 {
  padding-left: 4rem
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem
}

.col {
  float: left
}

.col,.col-right {
  box-sizing: border-box
}

.col-right {
  float: right
}

.col-1 {
  width: 8.33333%
}

.col-2 {
  width: 16.66667%
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.33333%
}

.col-5 {
  width: 41.66667%
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33333%
}

.col-8 {
  width: 66.66667%
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.33333%
}

.col-11 {
  width: 91.66667%
}

.col-12 {
  width: 100%
}

@media (min-width:40.06rem) {
  .sm-col {
    float: left;
    box-sizing: border-box
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box
  }

  .sm-col-1 {
    width: 8.33333%
  }

  .sm-col-2 {
    width: 16.66667%
  }

  .sm-col-3 {
    width: 25%
  }

  .sm-col-4 {
    width: 33.33333%
  }

  .sm-col-5 {
    width: 41.66667%
  }

  .sm-col-6 {
    width: 50%
  }

  .sm-col-7 {
    width: 58.33333%
  }

  .sm-col-8 {
    width: 66.66667%
  }

  .sm-col-9 {
    width: 75%
  }

  .sm-col-10 {
    width: 83.33333%
  }

  .sm-col-11 {
    width: 91.66667%
  }

  .sm-col-12 {
    width: 100%
  }
}

@media (min-width:52.06rem) {
  .md-col {
    float: left;
    box-sizing: border-box
  }

  .md-col-right {
    float: right;
    box-sizing: border-box
  }

  .md-col-1 {
    width: 8.33333%
  }

  .md-col-2 {
    width: 16.66667%
  }

  .md-col-3 {
    width: 25%
  }

  .md-col-4 {
    width: 33.33333%
  }

  .md-col-5 {
    width: 41.66667%
  }

  .md-col-6 {
    width: 50%
  }

  .md-col-7 {
    width: 58.33333%
  }

  .md-col-8 {
    width: 66.66667%
  }

  .md-col-9 {
    width: 75%
  }

  .md-col-10 {
    width: 83.33333%
  }

  .md-col-11 {
    width: 91.66667%
  }

  .md-col-12 {
    width: 100%
  }
}

@media (min-width:72.06rem) {
  .lg-col {
    float: left;
    box-sizing: border-box
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box
  }

  .lg-col-1 {
    width: 8.33333%
  }

  .lg-col-2 {
    width: 16.66667%
  }

  .lg-col-3 {
    width: 25%
  }

  .lg-col-4 {
    width: 33.33333%
  }

  .lg-col-5 {
    width: 41.66667%
  }

  .lg-col-6 {
    width: 50%
  }

  .lg-col-7 {
    width: 58.33333%
  }

  .lg-col-8 {
    width: 66.66667%
  }

  .lg-col-9 {
    width: 75%
  }

  .lg-col-10 {
    width: 83.33333%
  }

  .lg-col-11 {
    width: 91.66667%
  }

  .lg-col-12 {
    width: 100%
  }
}

.flex {
  display: -ms-flexbox;
  display: flex
}

@media (min-width:40.06rem) {
  .sm-flex {
    display: -ms-flexbox;
    display: flex
  }
}

@media (min-width:52.06rem) {
  .md-flex {
    display: -ms-flexbox;
    display: flex
  }
}

@media (min-width:72.06rem) {
  .lg-flex {
    display: -ms-flexbox;
    display: flex
  }
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.items-start {
  -ms-flex-align: start;
  align-items: flex-start
}

.items-end {
  -ms-flex-align: end;
  align-items: flex-end
}

.items-center {
  -ms-flex-align: center;
  align-items: center
}

.items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline
}

.items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch
}

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start
}

.self-end {
  -ms-flex-item-align: end;
  align-self: flex-end
}

.self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

.self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline
}

.self-stretch {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch
}

.justify-start {
  -ms-flex-pack: start;
  justify-content: flex-start
}

.justify-end {
  -ms-flex-pack: end;
  justify-content: flex-end
}

.justify-center {
  -ms-flex-pack: center;
  justify-content: center
}

.justify-between {
  -ms-flex-pack: justify;
  justify-content: space-between
}

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.justify-evenly {
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly
}

.content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start
}

.content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end
}

.content-center {
  -ms-flex-line-pack: center;
  align-content: center
}

.content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between
}

.content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around
}

.content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch
}

.flex-auto {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0
}

.flex-none {
  -ms-flex: none;
  flex: none
}

.order-0 {
  -ms-flex-order: 0;
  order: 0
}

.order-1 {
  -ms-flex-order: 1;
  order: 1
}

.order-2 {
  -ms-flex-order: 2;
  order: 2
}

.order-3 {
  -ms-flex-order: 3;
  order: 3
}

.order-last {
  -ms-flex-order: 99999;
  order: 99999
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

.fixed {
  position: fixed
}

.top-0 {
  top: 0
}

.right-0 {
  right: 0
}

.bottom-0 {
  bottom: 0
}

.left-0 {
  left: 0
}

.z1 {
  z-index: 1
}

.z2 {
  z-index: 2
}

.z3 {
  z-index: 3
}

.z4 {
  z-index: 4
}

.border {
  border-style: solid;
  border-width: 1px
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px
}

.border-none {
  border: 0
}

.rounded {
  border-radius: 4px
}

.circle {
  border-radius: 50%
}

.rounded-top {
  border-radius: 4px 4px 0 0
}

.rounded-right {
  border-radius: 0 4px 4px 0
}

.rounded-bottom {
  border-radius: 0 0 4px 4px
}

.rounded-left {
  border-radius: 4px 0 0 4px
}

.not-rounded {
  border-radius: 0
}

.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px)
}

@media (max-width:40rem) {
  .xs-hide {
    display: none
  }
}

@media (min-width:40.06rem) and (max-width:52rem) {
  .sm-hide {
    display: none
  }
}

@media (min-width:52.06rem) and (max-width:72rem) {
  .md-hide {
    display: none
  }
}

@media (min-width:72.06rem) {
  .lg-hide {
    display: none
  }
}

.display-none {
  display: none
}

* {
  box-sizing: border-box
}

body {
  background: #fff;
  color: #323a43;
  font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  min-width: 100%;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased
}

main {
  max-width: 100%;
  margin: 0 auto
}

p {
  padding: 0;
  margin: 0
}

.ampstart-accent {
  color: #003f93
}

#content:target {
  margin-top: calc(0px - 3.5rem);
  padding-top: 3.5rem
}

.ampstart-title-lg {
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: .06rem
}

.ampstart-title-md {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: .06rem
}

.ampstart-title-sm {
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: .06rem
}

.ampstart-subtitle,body {
  line-height: 1.6;
  letter-spacing: normal
}

.ampstart-subtitle {
  color: #003f93;
  font-size: 1rem
}

.ampstart-byline,.ampstart-caption,.ampstart-hint,.ampstart-label {
  font-size: .875rem;
  color: #4f4f4f;
  line-height: 1.4;
  letter-spacing: .06rem
}

.ampstart-label {
  text-transform: uppercase
}

.ampstart-footer,.ampstart-small-text {
  font-size: .75rem;
  line-height: 1;
  letter-spacing: .06rem
}

.ampstart-card {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 1px 1px -1px rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}

.h1,h1 {
  font-size: 2rem;
  line-height: 3.5rem
}

.h2,h2 {
  font-size: 1.5rem;
  line-height: 2.5rem
}

.h3,h3 {
  font-size: 1.25rem;
  line-height: 2
}

.h4,h4 {
  font-size: 1rem;
  line-height: 1.6
}

.h5,h5 {
  font-size: .875rem;
  line-height: 1.4
}

.h6,h6 {
  font-size: .75rem;
  line-height: 1
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: .06rem
}

a,a:active,a:visited {
  color: inherit
}

.ampstart-btn {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.4;
  padding: .7em .8em;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  background-color: #323a43;
  color: #fff;
  border: 1px solid #fff
}

.ampstart-btn:visited {
  color: #fff
}

.ampstart-btn-secondary {
  background-color: #fff;
  color: #000;
  border: 1px solid #000
}

.ampstart-btn-secondary:visited {
  color: #000
}

.ampstart-btn:active .ampstart-btn:focus {
  opacity: .8
}

.ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover {
  opacity: .5;
  outline: 0;
  cursor: default
}

.ampstart-dropcap:first-letter {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  float: left;
  overflow: hidden;
  line-height: 2rem;
  margin-left: 0;
  margin-right: .5rem
}

.ampstart-initialcap {
  padding-top: 1.5rem;
  margin-top: 3rem
}

.ampstart-initialcap:first-letter {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  margin-left: -2px
}

.ampstart-pullquote {
  border: none;
  border-left: 4px solid #323a43;
  font-size: 1.25rem;
  padding-left: 3rem
}

@media (min-width:40.06rem) {
  .sm-p0 {
    padding: 0
  }

  .sm-pt0 {
    padding-top: 0
  }

  .sm-pr0 {
    padding-right: 0
  }

  .sm-pb0 {
    padding-bottom: 0
  }

  .sm-pl0,.sm-px0 {
    padding-left: 0
  }

  .sm-px0 {
    padding-right: 0
  }

  .sm-py0 {
    padding-top: 0;
    padding-bottom: 0
  }

  .sm-p1 {
    padding: 1rem
  }

  .sm-pt1 {
    padding-top: 1rem
  }

  .sm-pr1 {
    padding-right: 1rem
  }

  .sm-pb1 {
    padding-bottom: 1rem
  }

  .sm-pl1,.sm-px1 {
    padding-left: 1rem
  }

  .sm-px1 {
    padding-right: 1rem
  }

  .sm-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem
  }

  .sm-p2 {
    padding: 1.5rem
  }

  .sm-pt2 {
    padding-top: 1.5rem
  }

  .sm-pr2 {
    padding-right: 1.5rem
  }

  .sm-pb2 {
    padding-bottom: 1.5rem
  }

  .sm-pl2,.sm-px2 {
    padding-left: 1.5rem
  }

  .sm-px2 {
    padding-right: 1.5rem
  }

  .sm-py2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .sm-p3 {
    padding: 3rem
  }

  .sm-pt3 {
    padding-top: 3rem
  }

  .sm-pr3 {
    padding-right: 3rem
  }

  .sm-pb3 {
    padding-bottom: 3rem
  }

  .sm-pl3,.sm-px3 {
    padding-left: 3rem
  }

  .sm-px3 {
    padding-right: 3rem
  }

  .sm-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem
  }

  .sm-p4 {
    padding: 4rem
  }

  .sm-pt4 {
    padding-top: 4rem
  }

  .sm-pr4 {
    padding-right: 4rem
  }

  .sm-pb4 {
    padding-bottom: 4rem
  }

  .sm-pl4,.sm-px4 {
    padding-left: 4rem
  }

  .sm-px4 {
    padding-right: 4rem
  }

  .sm-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem
  }
}

@media (min-width:52.06rem) {
  .md-p0 {
    padding: 0
  }

  .md-pt0 {
    padding-top: 0
  }

  .md-pr0 {
    padding-right: 0
  }

  .md-pb0 {
    padding-bottom: 0
  }

  .md-pl0,.md-px0 {
    padding-left: 0
  }

  .md-px0 {
    padding-right: 0
  }

  .md-py0 {
    padding-top: 0;
    padding-bottom: 0
  }

  .md-p1 {
    padding: 1rem
  }

  .md-pt1 {
    padding-top: 1rem
  }

  .md-pr1 {
    padding-right: 1rem
  }

  .md-pb1 {
    padding-bottom: 1rem
  }

  .md-pl1,.md-px1 {
    padding-left: 1rem
  }

  .md-px1 {
    padding-right: 1rem
  }

  .md-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem
  }

  .md-p2 {
    padding: 1.5rem
  }

  .md-pt2 {
    padding-top: 1.5rem
  }

  .md-pr2 {
    padding-right: 1.5rem
  }

  .md-pb2 {
    padding-bottom: 1.5rem
  }

  .md-pl2,.md-px2 {
    padding-left: 1.5rem
  }

  .md-px2 {
    padding-right: 1.5rem
  }

  .md-py2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .md-p3 {
    padding: 3rem
  }

  .md-pt3 {
    padding-top: 3rem
  }

  .md-pr3 {
    padding-right: 3rem
  }

  .md-pb3 {
    padding-bottom: 3rem
  }

  .md-pl3,.md-px3 {
    padding-left: 3rem
  }

  .md-px3 {
    padding-right: 3rem
  }

  .md-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem
  }

  .md-p4 {
    padding: 4rem
  }

  .md-pt4 {
    padding-top: 4rem
  }

  .md-pr4 {
    padding-right: 4rem
  }

  .md-pb4 {
    padding-bottom: 4rem
  }

  .md-pl4,.md-px4 {
    padding-left: 4rem
  }

  .md-px4 {
    padding-right: 4rem
  }

  .md-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem
  }
}

@media (min-width:72.06rem) {
  .lg-p0 {
    padding: 0
  }

  .lg-pt0 {
    padding-top: 0
  }

  .lg-pr0 {
    padding-right: 0
  }

  .lg-pb0 {
    padding-bottom: 0
  }

  .lg-pl0,.lg-px0 {
    padding-left: 0
  }

  .lg-px0 {
    padding-right: 0
  }

  .lg-py0 {
    padding-top: 0;
    padding-bottom: 0
  }

  .lg-p1 {
    padding: 1rem
  }

  .lg-pt1 {
    padding-top: 1rem
  }

  .lg-pr1 {
    padding-right: 1rem
  }

  .lg-pb1 {
    padding-bottom: 1rem
  }

  .lg-pl1,.lg-px1 {
    padding-left: 1rem
  }

  .lg-px1 {
    padding-right: 1rem
  }

  .lg-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem
  }

  .lg-p2 {
    padding: 1.5rem
  }

  .lg-pt2 {
    padding-top: 1.5rem
  }

  .lg-pr2 {
    padding-right: 1.5rem
  }

  .lg-pb2 {
    padding-bottom: 1.5rem
  }

  .lg-pl2,.lg-px2 {
    padding-left: 1.5rem
  }

  .lg-px2 {
    padding-right: 1.5rem
  }

  .lg-py2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .lg-p3 {
    padding: 3rem
  }

  .lg-pt3 {
    padding-top: 3rem
  }

  .lg-pr3 {
    padding-right: 3rem
  }

  .lg-pb3 {
    padding-bottom: 3rem
  }

  .lg-pl3,.lg-px3 {
    padding-left: 3rem
  }

  .lg-px3 {
    padding-right: 3rem
  }

  .lg-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem
  }

  .lg-p4 {
    padding: 4rem
  }

  .lg-pt4 {
    padding-top: 4rem
  }

  .lg-pr4 {
    padding-right: 4rem
  }

  .lg-pb4 {
    padding-bottom: 4rem
  }

  .lg-pl4,.lg-px4 {
    padding-left: 4rem
  }

  .lg-px4 {
    padding-right: 4rem
  }

  .lg-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem
  }
}

body {
  line-height: 1.4
}

.travel-flip {
  transition: transform .1s;
  transform: rotate(0)
}

.travel-flip-flipped {
  transform: rotate(180deg)
}

.travel-object-cover,.travel-object-cover>img {
  -o-object-fit: cover;
  object-fit: cover
}

amp-img.rounded img {
  border-radius: 4px
}

amp-img.circle img {
  border-radius: 50%
}

.travel-no-focus:focus {
  outline: none
}