doctype html
title HALYFAX
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='theme-color' content='#462E49')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title
  meta(name='description' content='Entrar en Disease Maps - Mapas Mundiales de enfermedades crónicas, poco frecuentes y otros síndromes y condiciones. Conecta con personas que tienen tu condición y ayudaros.')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  // Latest compiled and minified CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  // Optional theme
  link(href='//fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css')
  link(href='/css/main.css' type='text/css' rel='stylesheet')

header
    h1 #{session.id}
    form(method='POST', action='/users/ingresar')
      #form-group
        label email:
        input.form-control(name='email',type='email')
      #form-group
        label Password:
        input.form-control(name='password',type='password')

        br
        input.btn.btn-primary(type='submit',value='Submit')
        .form-group
    ul
      li
        a(href='/users/forgot') Forgot password

    .form-group
      .offset-md-3.col-md-7.pl-2
        hr
    .form-group
      .offset-md-3.col-md-7.pl-2
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fab.fa-google-plus-g.fa-xs
          | Sign in with Google
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fab.fa-facebook-f.fa-sm
          | Sign in with Facebook




