title HALYFAX
style.
  body {
  margin: 0px;
  }
  .card-img-top {
  width: 30%;
  overflow: scroll;
  padding: 30px;
  position: relative;
  }


.row
  .card.mx-auto
  .card-body
    h1 Hello #{user.name}
      img(src="https://img.icons8.com/ios/2x/user-male-circle.png", alt="USER")
    a.btn.btn-success.btn-block(href='/medicamentos/add') Create One!
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/finder') search note!
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/logout') LOG OUT
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/chat') CHAT
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/perfil/'+user.username) PERFIL
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/vistas') vistas
  .col-md-3
  .card
  section.carousel
  each medicamento in medicamentos
    li #{medicamentos}
    li ID MEDICAMENTO:  #{medicamento.id}
    li FILE MEDICAMENTO: #{medicamento.filename}
    li NOMBRE MEDICAMENTO: #{medicamento.nombre}
    li DESCRIPTION MEDICAMENTO: #{medicamento.description}
    li REGISTRO SANITARIO: #{medicamento.registrosanitario}
    li FECHA EXPEDECION: #{medicamento.fechaexpedicion}
    li FECHA VENCIMIENTO:  #{medicamento.fechavencimiento}
    li COMERCIALMENTE: #{medicamento.descripcioncomercial}
    li UNIDAD MEDIDA : #{medicamento.unidadmedida}
    li CANTIDAD MEDICAMENTO : #{medicamento.cantidad}
      i.fas.fa-edit
    p #{medicamento.description}
    // DELETE REQUEST

    a(href="/medicamentos/view/"+medicamento._id)
      img.card-img-top(src=medicamento.imageURL, alt='#{medicamento.filename}')
    a(href='/medicamentos/edit/'+medicamento._id) editar

    form(method='POST' action='/medicamentos/delete/'+medicamento._id+'?_method=DELETE')
      button.btn.btn-danger.btn-block.btn-sm(type='submit') Delete

      button#confirm confirmar eliminacion

| &copy; 2019 GitHub, Inc.

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

script.

  $("#confirm").click(function(){
  var bool=confirm("Seguro de eliminar el dato?");
  if(bool){
    alert("se elimino correctamente");
  }else{
    res.render("/medicamentos");
  }
  });
