.col-md-4.mx-auto
  .card
    .card-header
      h3 Edit Medicamento
    .card-body
      form(method='POST', action='/medicamentos/edit-medicamento/'+medicamento._id enctype='multipart/form-data')
        input#inputGroupFile02.custom-file-input(type='file' name='image')
        input(type='hidden' name='_method' value='POST')
        .form-group
          input.form-control(type='text' name='nombre' value=`${medicamento.nombre}`)
        .form-group
          textarea.form-control(name='description') #{medicamento.description}

        .card-body
          img.card-img-top(src=medicamento.imageURL, alt='#{medicamento.filename}')
          button.btn.btn-primary.btn-block(type='submit')
            | Save
