title JUNKIES
.row
  .card.mx-auto
  .card-body
    h1 Hello #{user.name}
    a.btn.btn-success.btn-block(href='/medicamentos/add') Create One!
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/medicamentos/search') search note!
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/logout') LOG OUT
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/chat') CHAT
    p(clsss='lead')
    a.btn.btn-success.btn-block(href='/perfil/'+user.username) PERFIL

  .col-md-3
  .card
    li #{medicamento}
    li #{medicamento.description}
    li #{medicamento._id}
    li #{medicamento.date}
      a(href="/perfil/usuario/"+medicamento.user)=medicamento.user
    li
      img.card-img-top(src=medicamento.imageURL, alt='#{medicamento.filename}')
    h3 Comments
        form(action='/medicamentos/comment/'+medicamento._id method='POST')
            .form-group
            input.form-control(type='text' name='name' placeholder='Name')
            .form-group
            input.form-control(type='email' name='email' placeholder='Email')
            .form-group
            textarea.form-control(name='comment' rows='2' placeholder='Your Comment')
            .form-group
                button#btn-comment.btn.btn-success
                        i.fa.fa-comment
                        |  Post


