doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  block content
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='theme-color', content='#462E49')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Panel de usuario
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      // Latest compiled and minified CSS
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      // Optional theme
      link(href='//fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
      link(href='/css/main.css', type='text/css', rel='stylesheet')
      h1 BUSCADOR DE MEDICAMENTOS
      form(method='POST', action='/medicamentos/search-medicamento')
    body
      header
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
              a.navbar-brand.dosis-nav(href='/perfil') OVERDOSE
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/mensajes')
                    i.fa.fa-envelope-o
                    |  Mensajes
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-flag
                    |  Notificaciones  
                    span.caret
                  ul.dropdown-menu
                    li.text-center(style='color: #888;') No hay nuevas notificaciones
                    li.divider(role='separator')
                    li.text-center
                      a(href='/es/notifications/')
                        small Ver todas
                li
                  a(href='/perfil')
                    i.fa.fa-user
                    |  #{user.name}
                li
                  a(href='/es/account/')
                    i.fa.fa-cog
                    |  Ajustes
                li
                  a(href='/logout')
                    i.fa.fa-sign-out
                    |  Salir
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a#dropdownMenu5.btn.btn-link.dropdown-toggle.idiomas(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-globe
                    |  es  
                    span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu5')
                    li
                      a(href='/') English
                    li
                      a(href='/es/') Español
            // /.navbar-collapse
          // /.container-fluid
  title Upload an Image
.container.p-4
  .row
    .col-md-4.offset-md-4
      .card
        .card-header.text-center
          h3 Upload an Image
        .card-body
          form(action='/medicamentos/new-medicamento' method='post' enctype='multipart/form-data')
            .input-group.mb-3
              .custom-file
                input#inputGroupFile02.custom-file-input(type='file' name='image')
                label.custom-file-label(for='inputGroupFile02' aria-describedby='inputGroupFileAddon02')
                  | Choose
                  | file
            .form-group
              input.form-control(type='text' name='nombre' placeholder='nombre')
            .form-group
              input.form-control(type='text' name='description' placeholder='description')
            .form-group
              input.form-control(type='text' name='registrosanitario' placeholder='registrosanitario')
            .form-group
              input.form-control(type='text' name='fechaexpedicion' placeholder='fechaexpedicion')
            .form-group
              input.form-control(type='text' name='fechavencimiento' placeholder='fechavencimiento')
            .form-group
              input.form-control(type='text' name='descripcioncomercial' placeholder='descripcioncomercial')
            .form-group
              label(for='UNIDADMEDIDA') Choose a UNIDAD MEDIDA:
              select#cars
                option(value='MG') MG
                option(value='saab') Saab
                option(value='opel') Opel
                option(value='audi') Audi
            .form-group
              input.form-control(type='text' name='unidadmedida' placeholder='unidadmedida')
            .form-group
              input.form-control(type='text' name='cantidad' placeholder='cantidad')
            .form-group
              button.btn.btn-success.btn-block
                | Upload
