doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap' rel='stylesheet')
  title SEARCH 
style.
  body{
  margin: 0px;
  background-color: #8DA0FF;
  font-family: 'Muli', sans-serif;
  color: white;
  }
  .header{
  background-color:linear-gradient(#96BBBB,#C19875);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .header__img{
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 10px;
  }
  .header__menu{
  margin-right: 60px;
  }
  .header__menuul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px0px0px -14px;
  color: white;
  }
  .header__menu:hoverul, ul:hover{
  display: block;
  }
  .header__menuli{
  margin: 10px0px;
  }
  .header__menulia{
  color: white;
  text-decoration: none;
  }
  .header__menulia:hover{
  text-decoration: underline;
  }
  .header__menu--profile{
  color: white;
  margin-right: 8px;
  align-items: center;
  display: flex;
  }
  .header__menu--profileimg{
  margin-right: 8px;
  width: 40px;
  }
  .header__menu--profilep{
  margin: 0px;
  color: white;
  }
  .main{
  height: 300px;
  }
  .main__title{
  color: white;
  font-size: 25px;
  }
  .input{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 45px;
  outline: none;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0px20px;
  width: 70%;
  }
  ::placeholder{
  color: white;
  }
header.header
  .header__menu
    .header__menu--profile
      p  Perfil
    ul
      li
        a(href='/') Cuenta
      li
        a(href='/') Cerrar Sesi&oacute;n
section.main
  form(method='POST', action='/medicamentos/search-medicamento')
        .form-group
          h2.main__title &iquest;Que Medicamento buscas?
          input.input(name='description' placeholder='Buscar..')
          button.btn.btn-primary.btn-block(type='submit')
            | SEARCH

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
script(src='https://code.jquery.com/jquery-1.12.4.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

script.
      $(function () {
    $('#searchName').autocomplete({
        source: function (req, res) {
            $.ajax({
                url: "autocomplete/",
                dataType: "jsonp",
                type: "GET",
                data: req,
                success: function (data) {
                    res(data)
                    res.json(result)
                },
                error: function (err) {
                    
                    console.log(err.status);
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
   
                $('#searchName').text(ui.item.label);

        }
    });
    });
