<!DOCTYPE html>
html(lang="en")
    head
        style.
            h1 {color: red;}
            p {color: blue;}
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JUNKIES
        h1 hello world
        h2 #{user.name}
        img.card-img-top(src=medicamento.imageURL, alt='#{medicamento.filename}')
        h3 #{medicamento.nombre}
        p #{medicamento.description}
        p #{medicamento.registrosanitario}
        p #{medicamento.filename}
        p #{medicamento.fechaexpedicion}
        form(action='/medicamentos/likes/'+medicamento._id method='POST')
            button#btn-like.btn.btn-success(data-id=`${medicamento.file}`)
                    |  Like
        form(action='/medicamentos/dislike/'+medicamento._id method='POST')

            button#btn-like.btn.btn-success(data-id=`${medicamento.file}`)
                    |  dislike
        p LIKES #{medicamento.like}
        p VIEWS #{medicamento.views}
        p #{timeago} #{medicamento.timestamp}
        .card.mt-2
        .card-header.d-flex.justify-content-between.align-items-center
    each comments in comment
        li #{comments}
        li #{comments._id}
        li #{comments.name}
        li #{comments.comment}
        a(href="/perfil/usuario/"+comments.user)=comments.user
    body
